In [5]:
from binary_search import BinarySearch

In [6]:
bsearch = BinarySearch()

In [7]:
nums = [1, 10, 26, 83, 125, 639, 2432]

In [8]:
display(bsearch.provide_data(nums, 234))

  Binary Search, target = 234
                         left right value   outcome
1                           0     6    83  < target
2                           4     6   639  > target
3                           4     4   125  < target
4                           5     4   125  < target