In [1]:
from binary_search import BinarySearch

In [2]:
nums = [1, 10, 26, 83, 125, 639, 2432]

In [3]:
BinarySearch.trace(nums, 234)

  Binary Search, target = 234
                         left right value   outcome
1                           0     6    83  < target
2                           4     6   639  > target
3                           4     4   125  < target
4                           5     4   125

In [6]:
BinarySearch.find(nums, 125)

False